/**
*
* Testing
*
**/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr [col-start])[12];
      grid-template-columns: repeat(12, 1fr [col-start]);
  -ms-grid-rows: (auto [row-start])[10];
      grid-template-rows: repeat(10, auto [row-start]);
  grid-column-gap: 24px;
}

/*
 v v  v SCSS for Desktop  v v v
*/
@media (min-width: 1056px) {
  header {
    height: 96px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr;
        grid-template-columns: 5% 1fr;
    background-color: rgba(0, 0, 0, 0.7);
    grid-column: 1 / -1;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brand {
    padding-left: 3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    list-style: none;
    overflow: hidden;
  }
  .nav-link {
    margin: 0 36px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    font-family: bebas-kai,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
  }
}

/*
 v v  v SCSS for Tablet and mobile  v v v
*/
@media (max-width: 1056px) {
  header {
    height: 96px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr;
        grid-template-columns: 5% 1fr;
    background-color: rgba(0, 0, 0, 0.7);
    grid-column: 1 / -1;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brand {
    margin-left: 90px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    list-style: none;
    overflow: hidden;
  }
  .nav-link {
    margin: 0 18px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    font-family: bebas-kai,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
  }
}

/*
 v v  v SCSS for Desktop  v v v
*/
@media (min-width: 1056px) {
  main {
    grid-column: 1 / -1;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    background: url(../images/landingBG.png);
    overflow: hidden;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .hero-text {
    margin-top: 2em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    -ms-grid-row: 2;
    grid-row: 2;
    font-family: Bebas-kai;
    font-size: 72px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .hero-text ::after {
    display: block;
    content: "";
    border-top: 0.6rem solid #00cccc;
    width: 13.5rem;
    margin-top: 2rem;
  }
}

/*
 v v  v SCSS for Tablet and mobile  v v v
*/
@media (max-width: 1056px) {
  main {
    grid-column: 1 / -1;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    background: url(../images/landingBG_mobile2.png);
    overflow: hidden;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .hero-text {
    margin: 16px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    -ms-grid-row: 2;
    grid-row: 2;
    font-family: Bebas-kai;
    font-size: 72px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .hero-text ::after {
    display: block;
    content: "";
    border-top: 0.6rem solid #00cccc;
    width: 13.5rem;
    margin-top: 2rem;
  }
}

/*
 v v  v SCSS for Desktop  v v v
*/
@media (min-width: 1056px) {
  .footer-wrapper {
    display: -ms-grid;
    display: grid;
    width: 89.938rem;
    height: 28.25rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-columns: .35fr .65fr;
        grid-template-columns: .35fr .65fr;
  }
  #footer-left {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -o-object-fit: contain;
       object-fit: contain;
    background-color: #494949;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    font-size: 40px;
    height: 28.25rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-gap: 26px;
        grid-template-areas: ".    .    .    .  " ".   lgo  lgo   .  " ".   lgo  lgo   .  " ".   lgo  lgo   .  " ".   lgo  lgo   .  " ".    .    .    .  ";
  }
  #footer-right {
    display: -ms-grid;
    display: grid;
    background-color: #626262;
    -o-object-fit: contain;
       object-fit: contain;
    height: 28.25rem;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    font-size: 40px;
    width: 100%;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    grid-gap: 26px;
        grid-template-areas: ".    .    .    .    .     .      .   . " ".    .    .    .    .     .      .   . " ".    .    .    .    .    mnu     .   . " ".   fhd  fhd   fhd  .    hme     .   . " ".    .    .    .    .    wrk     .   . " ".    be   ig  lin   .    prs     .   . " ".    be   ig  lin    .    cnt     .   . " ".    .    .    .    .     .      .   . " ".   tm   tm   tm   tm    tm      .   . " ".    .    .    .    .     .      .   . ";
  }
  #footer-logo {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: lgo;
    margin-top: 5vh;
  }
  #footer-head {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: fhd;
    font-family: Roboto;
    font-size: 1.875rem;
    font-weight: normal;
    -ms-grid-column-align: start;
        justify-self: start;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }
  #footer-ig {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: ig;
  }
  #footer-behance {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: be;
  }
  #footer-linkedin {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: lin;
  }
  #footer-menu {
    -ms-grid-column-align: start;
        justify-self: start;
    width: 3.813rem;
    height: 1.75rem;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00cccc;
    -ms-grid-row: 3;
    -ms-grid-column: 6;
    grid-area: mnu;
    margin-top: -3vh;
  }
  #footer-home {
    -ms-grid-column-align: start;
        justify-self: start;
    width: 4.063rem;
    height: 1.75rem;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 4;
    -ms-grid-column: 6;
    grid-area: hme;
  }
  #footer-work {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 5;
    -ms-grid-column: 6;
    grid-area: wrk;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  #footer-process {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row: 6;
    -ms-grid-column: 6;
    grid-area: prs;
  }
  #footer-contact {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    -ms-grid-column-align: start;
        justify-self: start;
    color: white;
    -ms-grid-row: 7;
    -ms-grid-column: 6;
    grid-area: cnt;
  }
  #footer-tm {
    width: 32.688rem;
    height: 1.25rem;
    font-family: Roboto;
    font-size: 1.063rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 9;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: tm;
  }
}

/*
 v v  v SCSS for Tablet and Mobile  v v v
*/
@media (max-width: 1056px) {
  .footer-wrapper {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 33.25rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #footer-left {
    display: none;
  }
  #footer-right {
    display: -ms-grid;
    display: grid;
    background-color: #626262;
    -o-object-fit: contain;
       object-fit: contain;
    height: 33.25rem;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    width: 100%;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 16px;
        grid-template-areas: ".    .    .    .    .     .       " ".    .    .    .    .     .      " ".    .    .    .    .    mnu     " ".   fhd  fhd   fhd  .    hme   " ".    .    .    .    .    wrk  " ".    be   ig  lin   .    prs     " ".    be   ig  lin    .    cnt  " ".    .    .    .    .     .     " ".   tm   tm   tm   tm    tm     " ".    .    .    .    .     .      ";
  }
  #footer-logo {
    grid-area: lgo;
    margin-top: 5vh;
  }
  #footer-head {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: fhd;
    font-family: Roboto;
    font-size: 1.875rem;
    font-weight: normal;
    -ms-grid-column-align: start;
        justify-self: start;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }
  #footer-ig {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: ig;
  }
  #footer-behance {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: be;
  }
  #footer-linkedin {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: lin;
  }
  #footer-menu {
    -ms-grid-column-align: start;
        justify-self: start;
    width: 3.813rem;
    height: 1.75rem;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00cccc;
    -ms-grid-row: 3;
    -ms-grid-column: 6;
    grid-area: mnu;
    margin-top: -3vh;
    margin-right: 16px;
  }
  #footer-home {
    margin-right: 16px;
    -ms-grid-column-align: start;
        justify-self: start;
    width: 4.063rem;
    height: 1.75rem;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 4;
    -ms-grid-column: 6;
    grid-area: hme;
  }
  #footer-work {
    margin-right: 16px;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 5;
    -ms-grid-column: 6;
    grid-area: wrk;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  #footer-process {
    margin-right: 16px;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row: 6;
    -ms-grid-column: 6;
    grid-area: prs;
  }
  #footer-contact {
    margin-right: 16px;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    -ms-grid-column-align: start;
        justify-self: start;
    color: white;
    -ms-grid-row: 7;
    -ms-grid-column: 6;
    grid-area: cnt;
  }
  #footer-tm {
    width: 32.688rem;
    margin-right: 16px;
    height: 1.25rem;
    font-family: Roboto;
    font-size: .6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 9;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: tm;
  }
}

/*
 v v  v SCSS for Desktop  v v v
*/
@media (min-width: 1056px) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    height: 44.125rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-columns: .35fr .65fr;
        grid-template-columns: .35fr .65fr;
  }
  #contact-left {
    display: -ms-grid;
    display: grid;
    justify-items: start;
    -o-object-fit: contain;
       object-fit: contain;
    background-color: #838383;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-size: 40px;
    min-height: 44.125rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-gap: 26px;
        grid-template-areas: ".    .    .    .      ." ".    .    .    .      ." ".   chd  chd  chd     ." ".   btn  btn  btn      ." ".    .    .    .      ." ".    .    .    .      .";
  }
  #contact-right {
    justify-items: center;
    display: -ms-grid;
    display: grid;
    background-color: #4a4a4a;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    font-size: 40px;
    min-height: 44.125rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 26px;
        grid-template-areas: ".    .    .    .   .   .    .   . " ".    .  nme  nme nme nme    .   . " ".    .  eml  eml eml eml    .   . " ".    .  bdg  bdg bdg bdg    .   . " ".    .  dsc  dsc dsc dsc    .   . " ".    .  smt  smt smt smt    .   . " ".    .    .    .   .   .    .   . " ".    .    .    .   .   .    .   . ";
  }
  #contact-head {
    width: 21rem;
    height: 9.625rem;
    font-family: bebas-kai;
    font-size: 4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: chd;
  }
  #contact-text-blue {
    color: #00cccc;
  }
  .contact-button {
    height: 4rem;
    border-radius: 220px;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: btn;
    background-color: #b8b8b8;
    justify-items: start;
    border: none;
  }
  #creative-button {
    width: 15rem;
    height: 4rem;
    border-radius: 220px;
    color: white;
    background-color: #b8b8b8;
    font-family: Roboto;
    font-size: 1.25rem;
    border: none;
  }
  .contact-name {
    width: 40vw;
    height: 4.375rem;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: #838383;
    border: none;
    resize: none;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: nme;
  }
  .contact-email {
    width: 40vw;
    height: 4.375rem;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    border: none;
    color: #838383;
    resize: none;
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: eml;
  }
  .contact-budget {
    width: 40vw;
    height: 4.375rem;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    border: none;
    color: #838383;
    resize: none;
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: bdg;
  }
  .contact-description {
    width: 40vw;
    height: 14.625rem;
    border-radius: 9px;
    border: none;
    resize: none;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: #838383;
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: dsc;
  }
  #submit {
    width: 40vw;
    border: none;
    height: 4.375rem;
    border-radius: 9px;
    resize: none;
    background-color: #00CCCC;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: white;
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: smt;
  }
}

/*
 v v  v SCSS for Tablet and Mobile  v v v
*/
@media (max-width: 1056px) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    height: 77rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  #contact-left {
    display: -ms-grid;
    display: grid;
    justify-items: start;
    -o-object-fit: contain;
       object-fit: contain;
    background-color: #838383;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-size: 30px;
    min-height: 30rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
        grid-template-areas: ".    .    .    .      ." ".    .    .    .      ." ".   chd  chd  chd     ." ".   btn  btn  btn     ." ".    .    .    .      ." ".    .    .    .      .";
  }
  #contact-right {
    justify-items: center;
    display: -ms-grid;
    display: grid;
    background-color: #4a4a4a;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    font-size: 40px;
    height: 47rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 16px;
        grid-template-areas: ".    .    .    .   .   .    .   . " ".    nme  nme  nme nme nme  nme   . " ".    eml  eml  eml eml eml  eml   . " ".    bdg  bdg  bdg bdg bdg   bdg   . " ".    dsc  dsc  dsc dsc dsc   dsc   . " ".    smt  smt  smt smt smt   smt   . " ".    .    .    .   .   .    .   . ";
  }
  .form-right {
    justify-items: center;
  }
  #contact-head {
    width: 21rem;
    height: 9.625rem;
    font-family: bebas-kai;
    font-size: 4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: chd;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contact-button {
    height: 4rem;
    border-radius: 220px;
    background-color: var(--greyish);
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: btn;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: -10vw;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
  }
  #contact-text-blue {
    color: #00cccc;
  }
  #creative-button {
    width: 15rem;
    height: 4rem;
    border-radius: 220px;
    color: white;
    background-color: #b8b8b8;
    font-family: Roboto;
    border: none;
    padding: 0;
    font-size: 1.25rem;
  }
  .contact-name {
    width: 75vw;
    height: 4.375rem;
    border: none;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: #838383;
    resize: none;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: nme;
  }
  .contact-email {
    width: 75vw;
    height: 4.375rem;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    border: none;
    padding: 12px 12px;
    color: #838383;
    resize: none;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: eml;
  }
  .contact-budget {
    width: 75vw;
    height: 4.375rem;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    border: none;
    color: #838383;
    resize: none;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: bdg;
  }
  .contact-description {
    width: 75vw;
    height: 17.625rem;
    border-radius: 9px;
    resize: none;
    background-color: #515151;
    border: none;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: #838383;
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: dsc;
  }
  #submit {
    width: 75vw;
    border: none;
    height: 4.375rem;
    border-radius: 9px;
    resize: none;
    background-color: #00CCCC;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: white;
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: smt;
  }
}

/*
 v v  v SCSS for Desktop  v v v
*/
@media (min-width: 1056px) {
  #service-wrapper {
    display: -ms-grid;
    display: grid;
    height: 32rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    background-color: #4a4a4a;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    background-image: url(/images/bg-logo.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: left top;
  }
  .service-cols {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    font-size: 40px;
    min-height: 32rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 26px;
        grid-template-areas: ".    .    .    .     .     .    .    .         .       .      .      ." ".   head head head   .     .    .    .         .       .      .      ." ".   head head head   .     .    .  pshop      prem  figma   sass     ." ".    p    p    p     p     p    .    .         .       .      .      ." ".    p    p    p     p     p    .  jscript    html    css    notion  ." ".    p    p    p     p     p    .    .         .       .       .     ." ".    .    .    .     .     .    .    .         .       .       .     ." ".    .    .    .     .     .    .    .         .       .       .     .";
  }
  .service-header {
    color: white;
    font-family: Bebas-kai;
    font-size: 3rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: head;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
  }
  .Vector {
    width: 3.125rem;
    height: 3.125rem;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--tiffany);
  }
  #service-bg {
    display: none;
  }
  .service-p {
    font-family: Roboto;
    font-size: 1.3rem;
    color: white;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: p;
    z-index: 2;
  }
  .photoshop-icon {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
    grid-area: pshop;
    z-index: 2;
  }
  #photoshop-img {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  #photoshop-p {
    width: 5.5rem;
    height: 1.313rem;
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  #notion-p {
    width: 5.5rem;
    height: 1.313rem;
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
  }
  .premiere-icon {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
    grid-area: prem;
    z-index: 2;
  }
  #premiere-p {
    width: 5.5rem;
    height: 1.313rem;
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
    -webkit-transform: translate(-8px, 0px);
            transform: translate(-8px, 0px);
  }
  .figma-icon {
    z-index: 2;
    -ms-grid-row: 3;
    -ms-grid-column: 10;
    grid-area: figma;
  }
  #figma-p {
    width: 5.5rem;
    height: 1.313rem;
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
  }
  .notion-icon {
    z-index: 2;
    -ms-grid-row: 5;
    -ms-grid-column: 11;
    grid-area: notion;
  }
  .js-icon {
    z-index: 2;
    -ms-grid-row: 5;
    -ms-grid-column: 8;
    grid-area: jscript;
  }
  #js-img {
    z-index: 2;
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  #javascript-p {
    width: 5.5rem;
    height: 1.313rem;
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  .css-icon {
    z-index: 2;
    -ms-grid-row: 5;
    -ms-grid-column: 10;
    grid-area: css;
  }
  #css-p {
    width: 5.5rem;
    height: 1.313rem;
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
    -webkit-transform: translate(9px, 0px);
            transform: translate(9px, 0px);
  }
  .html-icon {
    z-index: 2;
    -ms-grid-row: 5;
    -ms-grid-column: 9;
    grid-area: html;
    -webkit-transform: translate(2px, 0px);
            transform: translate(2px, 0px);
  }
  #html-p {
    width: 5.5rem;
    height: 1.313rem;
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
    -webkit-transform: translate(4px, 0px);
            transform: translate(4px, 0px);
  }
  .sass-icon {
    z-index: 2;
    -ms-grid-row: 3;
    -ms-grid-column: 11;
    grid-area: sass;
  }
  #sass-p {
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
}

/*
 v v  v SCSS for Tablet and mobile  v v v
*/
@media (max-width: 1056px) {
  #service-wrapper {
    display: -ms-grid;
    display: grid;
    height: 38rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    background-color: #4a4a4a;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background-image: url(/images/bg-logo.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center 260px;
  }
  .service-cols {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    height: 38rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 16px;
        grid-template-areas: ".            .        .           ." "head        head     head       head " "head        head     head       head" "p            p        p           p" "p            p        p           p" ".            .        .            ." "pshop      prem     figma      notion" "jscript     css     html         sass" ".            .        .           ." ".            .        .           ." ".            .        .           .";
  }
  .service-header {
    -ms-grid-column-align: center;
        justify-self: center;
    padding-left: .7rem;
    height: 5.875rem;
    font-size: 2.5rem;
    font-stretch: normal;
    font-family: Bebas-kai, Roboto;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: head;
    z-index: 2;
  }
  .Vector {
    width: 3.125rem;
    height: 3.125rem;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--tiffany);
  }
  #service-bg {
    display: none;
  }
  .service-p {
    -ms-grid-column-align: center;
        justify-self: center;
    font-family: Roboto;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: white;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: p;
    z-index: 2;
  }
  #service-ptxt2 {
    display: none;
  }
  .photoshop-icon {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: pshop;
  }
  #photoshop-img {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  #photoshop-p {
    width: 100%;
    padding-left: .7rem;
    height: auto;
    font-family: Roboto;
    font-size: 0.884rem;
    color: white;
  }
  .premiere-icon {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: prem;
    font-size: 0.884rem;
  }
  #premiere-p {
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-size: 0.884rem;
    color: white;
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  .figma-icon {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: figma;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #figma-p {
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-size: 0.884rem;
    color: white;
  }
  .notion-icon {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
    grid-area: notion;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #notion-p {
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-size: 0.884rem;
    color: white;
  }
  .js-icon {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: jscript;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #javascript-p {
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-size: 0.884rem;
    color: white;
  }
  #js-img {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  .css-icon {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    grid-area: css;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #css-p {
    font-family: Roboto;
    font-size: 0.884rem;
    color: white;
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  .html-icon {
    -ms-grid-row: 8;
    -ms-grid-column: 3;
    grid-area: html;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #html-p {
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-size: 0.884rem;
    color: white;
  }
  .sass-icon {
    -ms-grid-row: 8;
    -ms-grid-column: 4;
    grid-area: sass;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #sass-p {
    font-family: Roboto;
    font-size: 1.125rem;
    color: white;
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
}

/*
 v v  v SCSS for Desktop  v v v
*/
@media (min-width: 1056px) {
  .process-wrapper {
    display: -ms-grid;
    display: grid;
    height: 40rem;
    background-color: #4a4a4a;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #process-cols {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    font-size: 40px;
    height: 40rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 26px;
        grid-template-areas: ".    .    .    .     .     .      .    .       .       .       .      ." ".   phd  phd   .     .     .      .    .       .       .       .      ." ".    .    .    .     .     .      .    .       .       .       .      ." ".    p1   p2   p3    p4    p5     .    .       .       .       .      ." ".    p6   p7   p8    p9    p10    .   ppg     ppg     ppg     ppg     ." ".    .    .    .     .     .      .    .       .       .       .      ." ".    .    .    .     .     .      .    .       .       .       .      ." ".    .    .    .     .     .      .    .       .       .       .      .";
  }
  #process-head {
    height: 2.25rem;
    font-family: Bebas-kai;
    font-size: 3.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: phd;
    margin-top: 5vh;
  }
  #process-1 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: p1;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-2 {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: p2;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-3 {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    grid-area: p3;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
    grid-area: p4;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-5 {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
    grid-area: p5;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-6 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: p6;
    margin-top: 5vh;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-7 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: p7;
    margin-top: 5vh;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-8 {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
    grid-area: p8;
    margin-top: 5vh;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-9 {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    grid-area: p9;
    margin-top: 5vh;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-10 {
    -ms-grid-row: 5;
    -ms-grid-column: 6;
    grid-area: p10;
    margin-top: 5vh;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  #process-pg {
    height: 8.75rem;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 5;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-area: ppg;
    margin-top: -7vh;
  }
}

/*
 v v  v SCSS for Tablet and mobile  v v v
*/
@media (max-width: 1056px) {
  .process-wrapper {
    -o-object-fit: contain;
       object-fit: contain;
    display: -ms-grid;
    display: grid;
    height: 50rem;
    background-color: #4a4a4a;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #process-cols {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    height: 50rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 16px;
        grid-template-areas: ".            .        .             ." "phd        phd      phd           phd" ".            .        .             ." "ppg        ppg      ppg           ppg" "ppg        ppg      ppg           ppg" "p1           p2       p3           p4" "p5           p6       p7           p8" ".            p9       p10           ." ".            .        .             ." ".            .        .             .";
  }
  #process-head {
    height: 2.25rem;
    font-family: Bebas-kai;
    font-size: 3.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: phd;
    margin-top: 5vh;
    margin-left: .938rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-1 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: p1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-2 {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: p2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-3 {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    grid-area: p3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-4 {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
    grid-area: p4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-5 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: p5;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-6 {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: p6;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-7 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: p7;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-8 {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
    grid-area: p8;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-9 {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    grid-area: p9;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-10 {
    -ms-grid-row: 8;
    -ms-grid-column: 3;
    grid-area: p10;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #process-pg {
    height: 8.75rem;
    width: 22rem;
    font-family: Roboto;
    font-size: 1.25rem;
    margin-left: .938rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    text-align: center;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: ppg;
    margin-top: -7vh;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

/*
 v v  v SCSS for Desktop  v v v
*/
@media (min-width: 1056px) {
  .partners-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    height: 38rem;
    background-color: #4a4a4a;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #partners-cols {
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    font-size: 40px;
    height: 38rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 26px;
        grid-template-areas: ".    .    .     .    .     .    .    .       .       .      .      ." ".    h1   h1   h1    .     .    .    .       .       .      .      ." ".    h1   h1   h1    .     .    .    .       .       .      .      ." ".    .    gb   gb    .    ecm  ecm   .       jc     jc      .      ." ".    .    gb   gb    .    ecm  ecm   .       jc     jc      .      ." ".    .    .     .    .     .    .    .       .       .      .      ." ".    .    .     .    .     .    .    .       .       .      .      .";
  }
  #partners-head {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: h1;
    width: 15.875rem;
    height: 6rem;
    font-family: Bebas-kai;
    font-size: 5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }
  #partners-bh1 {
    position: relative;
    width: 39.688rem;
    height: 15rem;
    -webkit-filter: blur(16px);
    filter: blur(8px);
    font-family: Bebas-kai;
    font-size: 12.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 204, 204, 0.3);
  }
  #partners-gsub {
    z-index: 1;
    margin-top: 8vh;
    position: relative;
    width: 13.5rem;
    height: 13.5rem;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: gb;
  }
  #partners-ecom {
    width: 7.438rem;
    z-index: 2;
    margin-top: 8vh;
    height: 9.75rem;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-area: ecm;
  }
  #partners-jckicks {
    margin-top: 8vh;
    width: 13.5rem;
    height: 9.063rem;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    grid-area: jc;
  }
  #partners-bg {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2 / 7;
  }
}

/*
 v v  v SCSS for Tablet and mobile  v v v
*/
@media (max-width: 1056px) {
  .partners-wrapper {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: -ms-grid;
    display: grid;
    height: 60rem;
    background-color: #4a4a4a;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background-image: url(/images/bg-nowords.png);
    overflow: hidden;
    background-origin: content-box;
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #partners-cols {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    height: 60rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: grid;
    -ms-grid-rows: repeat();
        grid-template-rows: repeat();
    grid-gap: 16px;
        grid-template-areas: ".          .      .      ." ".          .      .      ." "h1         h1     h1     ." "bh1        bh1    bh1    ." ".          gb     gb     ." ".          ecm    ecm    ." ".          jc     jc     ." ".          .      .      ." ".          .      .      .";
  }
  #partners-head {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: h1;
    z-index: 2;
    position: relative;
    font-family: Bebas-kai;
    font-size: 5rem;
    width: 24.188rem;
    margin-left: 10vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: -3vw;
  }
  #partners-bh1 {
    z-index: 2;
    position: relative;
    -webkit-filter: blur(16px);
    filter: blur(4px);
    font-family: Bebas-kai;
    font-size: 9rem;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: bh1;
    width: 24.188rem;
    margin-left: 10vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 204, 204, 0.3);
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: -3vw;
  }
  #partners-gsub {
    z-index: 2;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: gb;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #gsub-pic {
    z-index: 2;
    width: 13rem;
    height: 13rem;
  }
  #partners-ecom {
    z-index: 2;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: ecm;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #ecom-pic {
    z-index: 2;
    width: 13rem;
    height: 13rem;
  }
  #partners-jckicks {
    z-index: 2;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: jc;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #jc-pic {
    z-index: 2;
    width: 13rem;
    height: 13rem;
  }
  #partners-bg {
    display: none;
  }
}

/*
 v v  v SCSS for Desktop  v v v
*/
@media (min-width: 1056px) {
  .project-wrapper {
    display: -ms-grid;
    display: grid;
    height: 65.563rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #project-cols {
    display: -ms-grid;
    display: grid;
    -o-object-fit: contain;
       object-fit: contain;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #4a4a4a), color-stop(50%, #3b3b3b));
    background: linear-gradient(90deg, #4a4a4a 50%, #3b3b3b 50%);
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12 1fr);
    font-size: 30px;
    height: 65.563rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ".    .    .    .    .   .    .   .    .    .    .    ."  ".    .    .    hd   hd   hd  hd  hd   hd    .    .     ." ".    .    .    ps   ps   ps  ps  ps   ps    .    .    ." ".    .    .    gy   gy   gy  gy  gy   gy    .    .    . " ".    .    .    .    .    .    .   .    .    .    .    ." ".    .    .    .    .    sl  sl   .    .    .    .    . " ".    .    .    .    .    .    .   .    .    .    .    .";
  }
  #project-header {
    font-family: Bebas-kai;
    font-size: 8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: hd;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project-sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: center;
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: ps;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #project-identity {
    font-family: Bebas-kai;
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    grid-area: id;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project-development {
    font-family: Bebas-kai;
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    grid-area: dv;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding-left: 4.232142857142857vw;
    padding-right: 4.232142857142857vw;
  }
  #project-marketing {
    font-family: Bebas-kai;
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    grid-area: mk;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project-carousel {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: gy;
    width: 46.438rem;
    height: 22.964rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project-slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: center;
    -ms-grid-row: 6;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-area: sl;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 2.3rem;
  }
  .slider-gsub {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* NEW */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    padding: 2rem;
    overflow: hidden;
  }
  .slider-ecom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* NEW */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    padding: 2rem;
    overflow: hidden;
  }
  .slider-jck {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* NEW */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    padding: 2rem;
    overflow: hidden;
  }
}

/*
 v v  v SCSS for Tablet and Mobile  v v v
*/
@media (max-width: 1056px) {
  .project-wrapper {
    display: -ms-grid;
    display: grid;
    height: 107.563rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #project-cols {
    display: -ms-grid;
    display: grid;
    justify-items: start;
    -o-object-fit: contain;
       object-fit: contain;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #4a4a4a), color-stop(50%, #3b3b3b));
    background: linear-gradient(90deg, #4a4a4a 50%, #3b3b3b 50%);
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12 1fr);
    font-size: 30px;
    height: 107.563rem;
    width: 100%;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ".    .    .    .    .   .    .   .    .    .    .    ."  ".    .    .    hd   hd   hd  hd  hd   hd    .    .     ." ".    .    .    ps   ps   ps  ps  ps   ps    .    .    ." ".    .    .    gy   gy   gy  gy  gy   gy    .    .    . " ".    .    .    .    .    .    .   .    .    .    .    ." ".    .    .    .    .   .    .   .    .    .    .    ." ".    .    .    .    .   .    .   .    .    .    .    ." ".    .    .    .    .   .    .   .    .    .    .    ." ".    .    .    .    .   .    .   .    .    .    .    ." ".    .    .    .    .    sl  sl   .    .    .    .    . " ".    .    .    .    .    sl  sl   .    .    .    .    . " ".    .    .    .    .    sl  sl   .    .    .    .    . " ".    .    .    .    .    sl  sl   .    .    .    .    . " ".    .    .    .    .   .    .   .    .    .    .    ."  ".    .    .    .    .    .    .   .    .    .    .    .";
  }
  #project-header {
    font-family: Bebas-kai;
    font-size: 8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: hd;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project-sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: center;
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: ps;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #project-identity {
    font-family: Bebas-kai;
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    grid-area: id;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project-development {
    font-family: Bebas-kai;
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    grid-area: dv;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding-left: 4.232142857142857vw;
    padding-right: 4.232142857142857vw;
  }
  #project-marketing {
    font-family: Bebas-kai;
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    grid-area: mk;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project-carousel {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: gy;
    width: 100%;
    height: 90%;
    margin: 16px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project-slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: center;
    -ms-grid-row: 10;
    -ms-grid-row-span: 4;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-area: sl;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 2.3rem;
  }
  .slider-gsub {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* NEW */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    padding: 2rem;
  }
  .slider-ecom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* NEW */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    padding: 2rem;
  }
  .slider-jck {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* NEW */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    padding: 2rem;
  }
}
