/*
 v v  v SCSS for Desktop  v v v
*/

@media (min-width: 1056px) { 



.contact-wrapper {
  display: grid;
  height: 44.125rem;
  width: 100%;
  object-fit: contain;
  grid-template-columns: .35fr .65fr;
}

#contact-left {
  display: grid;
  justify-items: start;
  object-fit: contain;
  background-color: #838383;
  grid-template-columns: repeat(5, 1fr);
  font-size: 40px;
  min-height: 44.125rem;;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 26px;
  grid-template-areas:
  ".    .    .    .      ."
  ".    .    .    .      ."
  ".   chd  chd  chd     ."
  ".   btn  btn  btn      ."
  ".    .    .    .      ."
  ".    .    .    .      .";

}

#contact-right {
  justify-items: center;
  display: grid;
  background-color: #4a4a4a;
  object-fit: contain;
  grid-template-columns: repeat(8, 1fr);
  font-size: 40px;
  min-height: 44.125rem;
  width: 100%;
  display: grid; 
  grid-template-rows: auto;
  grid-gap: 26px;
  grid-template-areas:
  ".    .    .    .   .   .    .   . "
  ".    .  nme  nme nme nme    .   . "
  ".    .  eml  eml eml eml    .   . "
  ".    .  bdg  bdg bdg bdg    .   . "
  ".    .  dsc  dsc dsc dsc    .   . "
  ".    .  smt  smt smt smt    .   . "
  ".    .    .    .   .   .    .   . "
  ".    .    .    .   .   .    .   . ";

}

#contact-head{
  width: 21rem;
  height: 9.625rem;
  font-family: bebas-kai;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  grid-area: chd;

}

#contact-text-blue{
  color: #00cccc;
}

.contact-button{
  display: none;
  /*
  height: 4rem;
  border-radius: 220px;
  grid-area: btn;
  background-color: #b8b8b8;
  justify-items: start;
  border: none;
  */


}

#creative-button{
  width: 15rem;
  height: 4rem;
  border-radius: 220px;
  color: white;
  background-color: #b8b8b8;
  font-family: Roboto;
  font-size: 1.25rem;
  border: none;

}


.contact-name{
  width: 40vw;
  height: 4.375rem;
  border-radius: 9px;
  background-color: #515151;
  font-family: Roboto;
  font-size: 1.813rem;
  padding: 12px 12px;
  color: #838383;
  border: none;

  resize: none;
  grid-area: nme;

}
.contact-email{
  width: 40vw;
  height: 4.375rem;
  border-radius: 9px;
  background-color: #515151;
  font-family: Roboto;
  font-size: 1.813rem;
  padding: 12px 12px;
  border: none;

  color: #838383;
  resize: none;
  grid-area: eml;


}
.contact-budget{
  width: 40vw;
  height: 4.375rem;
  border-radius: 9px;
  background-color: #515151;
  font-family: Roboto;
  font-size: 1.813rem;
  padding: 12px 12px;
  border: none;

  color: #838383;
  resize: none;
  grid-area: bdg;


}
.contact-description{
  width: 40vw;
  height: 14.625rem;
  border-radius: 9px;
  border: none;

  resize: none;
  background-color: #515151;
  font-family: Roboto;
  font-size: 1.813rem;
  padding: 12px 12px;
  color: #838383;
  grid-area: dsc;
}

#submit{
  width: 40vw;
  border: none;
  height: 4.375rem;
  border-radius: 9px;
  resize: none;
  background-color: #00CCCC;
  font-family: Roboto;
  font-size: 1.813rem;
  padding: 12px 12px;
  color: white;
  grid-area: smt;

}

}







/*
 v v  v SCSS for Tablet and Mobile  v v v
*/

@media (max-width: 1056px) { 


.contact-wrapper {
    display: grid;
    height: 77rem;
    width: 100%;
    object-fit: contain;
    grid-template-rows: 1fr 1fr;
  }
  
  #contact-left {
    display: grid;
    justify-items: start;
    object-fit: contain;
    background-color: #838383;
    grid-template-columns: repeat(5, 1fr);
    font-size: 30px;
    min-height: 30rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    grid-template-areas:
    ".    .    .    .      ."
    ".    .    .    .      ."
    ".   chd  chd  chd     ."
    ".   chd  chd  chd     ."
    ".    .    .    .      ."
    ".    .    .    .      .";
  
  }
  
  #contact-right {
    justify-items: center;
    display: grid;
    background-color: #4a4a4a;
    object-fit: contain;
    grid-template-columns: repeat(8, 1fr);
    font-size: 40px;
    height: 47rem;
    width: 100%;
    display: grid; 
    grid-template-rows: auto;
    grid-gap: 16px;
    grid-template-areas:
    ".    .    .    .   .   .    .   . "
    ".    nme  nme  nme nme nme  nme   . "
    ".    eml  eml  eml eml eml  eml   . "
    ".    bdg  bdg  bdg bdg bdg   bdg   . "
    ".    dsc  dsc  dsc dsc dsc   dsc   . "
    ".    smt  smt  smt smt smt   smt   . "
    ".    .    .    .   .   .    .   . ";

  
  }

  .form-right{
    justify-items: center;
  }
  
  #contact-head{
    width: 21rem;
    height: 9.625rem;
    font-family: bebas-kai;
    font-size: 4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    grid-area: chd;
    justify-self: center;
    align-content: center;
    text-align: center;
  
  
  }
  
  
  .contact-button {
    display: none;
    /*
    height: 4rem;
    border-radius: 220px;
    background-color: var(--greyish);
    grid-area: btn;
    justify-self: center;
    margin-left: -10vw;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    */
}
#contact-text-blue{
  color: #00cccc;
}

#creative-button{
  width: 15rem;
  height: 4rem;
  border-radius: 220px;
  color: white;
  background-color: #b8b8b8;
  font-family: Roboto;
  border: none;
  padding: 0;
  font-size: 1.25rem;
}




 
  
  .contact-name {
    width: 75vw;
    height: 4.375rem;
    border: none;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: #838383;
    resize: none;
    grid-area: nme;
  
  }
  .contact-email {
    width: 75vw;
    height: 4.375rem;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    border: none;
    padding: 12px 12px;
    color: #838383;
    resize: none;
    grid-area: eml;
  
  
  }
  .contact-budget{
    width: 75vw;
    height: 4.375rem;
    border-radius: 9px;
    background-color: #515151;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    border: none;
    color: #838383;
    resize: none;
    grid-area: bdg;
  
  
  }
  .contact-description {
    width: 75vw;
    height: 17.625rem;
    border-radius: 9px;
    resize: none;
    background-color: #515151;
    border: none;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: #838383;
    grid-area: dsc;
  }

  #submit{
    width: 75vw;
    border: none;
    height: 4.375rem;
    border-radius: 9px;
    resize: none;
    background-color: #00CCCC;
    font-family: Roboto;
    font-size: 1.813rem;
    padding: 12px 12px;
    color: white;
    grid-area: smt;
  
  }

}