/*
 v v  v SCSS for Desktop  v v v
*/

html {
  scroll-behavior: smooth;
  overflow-x:hidden;

}

@media (min-width: 1056px) { 
  html {
    scroll-behavior: smooth;
    overflow-x:hidden
  }

#hero-wrapper {
  display: grid;
  height: 95vh;
  width: 100%;
  object-fit: contain;
  background-color: #4a4a4a;
  grid-template-columns: 1fr;

}

.hero-cols {
  display: grid;
  background-image: url(/images/landingBG.png);
  overflow: hidden;
  background-origin: content-box;
  overflow: hidden;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  grid-template-columns: repeat(12, 1fr);
  font-size: 40px;
  height: 95vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 26px;
  grid-template-areas:
    ".      .      .      .       .     .      .      .     .      .    .      . "
    ".      .      .      .       .     .      .      .     .      .    .      . "
    ".      .      .      .       .     .      .      .     .      .    .      . "
    ".      .      .      .       .     .      .      .     .      .    .      . "
    ".     hh     hh     hh      hh     hh     .      .     .      .    .      . "
    ".     hh     hh     hh      hh     hh     .      .     .      .    .      . "
    ".      cfw    .      .       .     .      .      .     .      .    .      . "
    ".      cfw    .     .       .     .      .      .     .      .    .      . "
    ".      .      .      .       .     .      .      .     .      .    .      . "
    ".      .      .      .       .     .      .      .     .      .    .      . "

    ".      .      .      .       .     .      .      .     .      .    .      . "
    ;

}


@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
  }

  
  .demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #00cccc;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }


  
  #section02 a {
    padding-top: 60px;
  }
  #section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid #00cccc;
    border-radius: 100%;
    box-sizing: border-box;
  }
  #section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #00cccc;
    border-bottom: 2px solid #00cccc;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

  #hero-header{
    width: 30.625rem;
    height: 10.75rem;
    font-family: bebas-kai;
    font-size: 4.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
    grid-area: hh;
  }

  #hero-header ::after {
    display: block;
    content: "";
    border-top: 0.6rem solid #00cccc;
    width: 13.5rem;
    margin-top: 2rem;
    grid-area: hl;
    


  }

  #hero-connect{
    width: 8.313rem;
    height: 3.25rem;
    font-family: bebas-kai;
    font-size: 2.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
    grid-area: hc;
  }

  #connect-flex-wrapper{
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      justify-content: flex-end;
      grid-area: cfw;
    
  }




}



/*
 v v  v SCSS for Mobile and Tablet  v v v
*/

@media (max-width: 1056px) { 
  html {
    scroll-behavior: smooth;
    overflow-x:hidden

  }

  #hero-wrapper {
    display: grid;
    height: 90vh;
    width: 100%;
    object-fit: contain;
    background-color: #4a4a4a;
    grid-template-columns: 1fr;
  
  }
  
  .hero-cols {
    z-index: 1;
    display: grid;
    background-image: url(/images/landingBG_mobile2.png);
    overflow: hidden;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    grid-template-columns: repeat(6, 1fr);
    font-size: 40px;
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 16px;
    grid-template-areas:
      ".    .    .    .     .     .  "
      ".    .    .    .     .     .  "
      ".    .    .    .     .     .  "

      "hh   hh   hh    hh  hh    hh  "
      "hl   hl   hl    hl   .     .  "
      ".    .    .    .     .     .  ";
  
  }

  #hero-header{
    width: 23rem;
    height: 6.639rem;
    font-family: bebas-kai;
    font-size: 2.845rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
    grid-area: hh;
    text-align: left;
    margin: 16px;
  }
  
  #hero-header ::after {
    display: block;
    content: "";
    border-top: 0.6rem solid #00cccc;
    width: 13.5rem;
    height: 0.5rem;  
    margin-top: 1rem;
    grid-area: hl;
    


  }


 

  
  .hero-text {
    margin-top: 2em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    -ms-grid-row: 2;
    grid-row: 2;
    font-family: Bebas-kai;
    font-size: 72px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  
  .hero-text ::after {
    display: block;
    content: "";
    border-top: 0.6rem solid #00cccc;
    width: 13.5rem;
    margin-top: 2rem;
  }


@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


section::after {
display: none;
}


.demo a {
  display: none;

}
.demo a:hover {
  display: none;
}

#section02 a {
  display: none;
}
#section02 a span {
  display: none;

}
#section02 a span::after {
  display: none;

}

#hero-connect{
display: none;
}

#connect-flex-wrapper{
  display: none;

}
  
  
  }