.ecomCase-wrapper{
  display: grid;
  height: 40rem;
  width: 100%;
  object-fit: contain;
  grid-template-columns: 1fr;


}

#ecomCase-cols{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: 40px;
  height: 40rem;
  background-color: #4a4a4a;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 26px;
  grid-template-areas:
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      .";

}