/*
 v v  v SCSS for Desktop  v v v
*/

@media (min-width: 1056px) { 

.partners-wrapper{
  width: 100%;
  display: grid;
  height: 38rem;
  background-color: #4a4a4a;
  grid-template-columns: 1fr;

}

#partners-cols {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  font-size: 40px;
  height: 38rem;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 26px;
  grid-template-areas:
    ".    .    .     .    .     .    .    .       .       .      .      ."
    ".    h1   h1   h1    .     .    .    .       .       .      .      ."
    ".    h1   h1   h1    .     .    .    .       .       .      .      ."
    ".    .    gb   gb    .    ecm  ecm   .       jc     jc      .      ."
    ".    .    gb   gb    .    ecm  ecm   .       jc     jc      .      ."
    ".    .    .     .    .     .    .    .       .       .      .      ."
    ".    .    .     .    .     .    .    .       .       .      .      ."

    ;
  }

#partners-head{
  grid-area: h1;
  width: 15.875rem;
  height: 6rem;
  font-family: Bebas-kai;
  font-size: 5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

#partners-bh1{
  position: relative;
  width: 39.688rem;
  height: 15rem;
  -webkit-filter: blur(16px);
  filter: blur(8px);
  font-family: Bebas-kai;
  font-size: 12.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  grid-row: 4;
  grid-column: 2 / 7 ;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 204, 204, 0.3);
}
#partners-gsub{
  z-index: 1;
  margin-top:8vh;
  position: relative;
  width: 13.5rem;
  height: 13.5rem;
  object-fit: contain;
  grid-area: gb;

}

#partners-ecom{
  width: 7.438rem;
  z-index: 2;
  margin-top:8vh;  height: 9.75rem;
  object-fit: contain;
  grid-area: ecm;
}

#partners-jckicks{
  margin-top:8vh;
  width: 13.5rem;
  height: 9.063rem;
  object-fit: contain;
  grid-area: jc;
}

#partners-bg{
  grid-column: 9 / 12;
  grid-row: 2 / 7 ;
}
}




/*
 v v  v SCSS for Tablet and mobile  v v v
*/

@media (max-width: 1056px) { 

   
 .partners-wrapper{
  width: 100%;
  object-fit: contain;
  display: grid;
  height: 60rem;
  background-color: #4a4a4a;
  grid-template-columns: 1fr;
  background-image: url(/images/bg-nowords.png);
  overflow: hidden;
  background-origin: content-box;
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  
  

}

#partners-cols{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 60rem;
  width: 100%;
  object-fit: contain;
  display: grid;
  grid-template-rows: repeat();
  grid-gap: 16px;
  grid-template-areas:
  ".          .      .      ."
  ".          .      .      ."
  "h1         h1     h1     ."
  "bh1        bh1    bh1    ."
  ".          gb     gb     ."
  ".          ecm    ecm    ."
  ".          jc     jc     ."
  ".          .      .      ."
  ".          .      .      .";
  
}


#partners-head{
  grid-area: h1;
  z-index: 2;
  position: relative;
  font-family: Bebas-kai;
  font-size: 5rem;
  width: 24.188rem;
  margin-left: 10vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  justify-self: center;
  margin-top: -3vw;

}

#partners-bh1{ 
  z-index: 2;
  position: relative;
  -webkit-filter: blur(16px);
  filter: blur(4px);
  font-family: Bebas-kai;
  font-size: 9rem;
  grid-area: bh1;
  width: 24.188rem;
  margin-left: 10vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 204, 204, 0.3);
  justify-self: center;
  margin-top: -3vw;


}
#partners-gsub{
  z-index: 2;
  object-fit: contain;
  grid-area: gb;
  justify-self: center;



}

#gsub-pic{
  z-index: 2;
  width: 13rem;
  height: 13rem;

}

#partners-ecom{
  z-index: 2;
  object-fit: contain;
  grid-area: ecm;
  justify-self: center;

}
#ecom-pic{
  z-index: 2;
  width: 13rem;
  height: 13rem;

}
#partners-jckicks{
  z-index: 2;
  object-fit: contain;
  grid-area: jc;
  justify-self: center;

}

#jc-pic{
  z-index: 2;
  width: 13rem;
  height: 13rem;
}

#partners-bg{
  display: none;
}
}


  