/*
 v v  v SCSS for Desktop  v v v
*/

@media (min-width: 1056px) { 


.process-wrapper {
  display: grid;
  height: 40rem;
  background-color: #4a4a4a;
  grid-template-columns: 1fr;
}

#process-cols{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: 40px;
  height: 40rem;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 26px;
  grid-template-areas:
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".   phd  phd   phd   .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    p1   p2   p3    p4    p5     .    .       .       .       .      ."
    ".    p6   p7   p8    p9    p10    .   ppg     ppg     ppg     ppg     ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      ."
    ".    .    .    .     .     .      .    .       .       .       .      .";
}

#process-head{
  height: 2.25rem;
  font-family: Bebas-kai;
  font-size: 3.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  grid-area: phd;
  margin-top: 5vh;
}

#process-1{
  grid-area: p1;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;

}

#process-1 img{


}

#process-2{
  grid-area: p2;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;
  
  
}

#process-3{
  grid-area: p3;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;
  
}

#process-4{
  grid-area: p4;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;
}

#process-5{
  grid-area: p5;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;
}

#process-6{
  grid-area: p6;
  margin-top: 5vh;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;
}

#process-7{
  grid-area: p7;
  margin-top: 5vh;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;

}

#process-8{
  grid-area: p8;
  margin-top: 5vh;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;

}

#process-9{
  grid-area: p9;
  margin-top: 5vh;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;

}

#process-10{
  grid-area: p10;
  margin-top: 5vh;
  font-family: Roboto;
  font-size: 1rem; 
  color: white;
  text-align: center;

}

#process-pg{
  
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
 
  letter-spacing: normal;
  color: white;
  grid-area: ppg;
  margin-top: -7vh;
  text-align: left;
}

}






/*
 v v  v SCSS for Tablet and mobile  v v v
*/

@media (max-width: 1056px) { 

.process-wrapper {
  object-fit: contain;
  display: grid;
  height: 50rem;
  background-color: #4a4a4a;
  grid-template-columns: 1fr;
}

#process-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50rem;
  width: 100%;
  object-fit: contain;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 16px;
  grid-template-areas:
  ".            .        .             ."
  "phd        phd      phd           phd"
  ".            .        .             ."
  ".            .        .             ."
  "ppg        ppg      ppg           ppg"
  "ppg        ppg      ppg           ppg"
  "p1           p2       p3           p4"
  "p5           p6       p7           p8"
  ".            p9       p10           ."
  ".            .        .             ."
  ".            .        .             .";
  
}

#process-head {
  font-family: Bebas-kai;
  font-size: 3rem;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  grid-area: phd;
  margin-top: 5vh;
  margin-bottom:-.8em;
  justify-content: center;
  justify-self: center;
}

#process-1 {
  grid-area: p1;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

}

#process-2{
  grid-area: p2;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

  
}

#process-3{
  grid-area: p3;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

  
}

#process-4{
  grid-area: p4;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

}

#process-5{
  grid-area: p5;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

}

#process-6{
  grid-area: p6;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

}

#process-7{
  grid-area: p7;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

}

#process-8{
  grid-area: p8;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

}

#process-9{
  grid-area: p9;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

}

#process-10{
  grid-area: p10;
  font-family: Roboto;
  font-size: .8rem; 
  color: white;
  text-align: center;

}

#process-pg {
  margin-left:1em ;
  margin-right: 1em;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: white;
  text-align: left;
  grid-area: ppg;
  margin-top: -7vh;
  justify-self: center;
}

}