@import "scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";


$tiffany: #00cccc;
$brownish-grey: #626262;
$white: #ffffff;
$black: #000000;
$greyish-brown: #515151;
$greyish: #b8b8b8;
$warm-grey: #838383;
$greyish-brown-two: #494949;
$warm-grey-two: #747474;
$spacing-s: 0.25rem;
$spacing-md: 0.5rem;
$spacing-lg: 0.75rem;
$spacing-xl-2: 1rem;
$spacing-xxl-3: 1.25rem;

.user {
    @extend %fa-icon;
    @extend .fas;
  
    &:before {
      content: fa-content($fa-var-user);
    }
  }

* {
    box-sizing: border-box;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: repeat(10, auto [row-start]);
    grid-column-gap:24px;
}

header {
    height: 96px;
    display: grid;
    grid-template-columns: 5% 1fr;
    background-color: rgba(0, 0, 0, 0.7);
    grid-column: 1 / -1;
    position: relative;
    align-items: center;
}

.brand {
    padding-left: 3em;
    align-self: center;
    justify-self: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    list-style:none;
    overflow: hidden;
    &-link {
        margin: 0 36px;
        align-self: center;
        justify-self: center;
        font-family: bebas-kai,sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size:18px;
    }

}

main {
        grid-column: 1 / -1;
        height: 100vh;
        display: grid;
        background: url(../images/landingBG.png) ;
        grid-template-columns: repeat(12, 1fr);
        background-repeat: no-repeat;
        overflow: hidden;
        background-origin: content-box;

        .hero-text {
            margin-top:2em;
            grid-column: 2 / 6;
            grid-row: 2;
            font-family:Bebas-kai;
            font-size: 72px;
            font-weight:400;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $white;
        }

        .hero-text::after {  
            display: block;
            content: "";
            border-top: .6rem solid $tiffany;
            width: 13.5rem;     
            margin-top:2rem;

        }

        .instagram {
            @extend %fa-icon;
            @extend .fab;
          
            &:before {
              content: fa-content($fa-var-instagram);
            }
          }
}

